body {
    background: linear-gradient(135deg, #e0f7fa 30%, #ffffff 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.container {
    background-color: #ffffff;
    border: 3px solid #4CAF50;
    border-radius: 20px;
    padding: 40px;
    width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1;
}

.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 0;
}

.circle1 {
    width: 150px;
    height: 150px;
    background-color: #4CAF50;
    top: 5%;
    left: 5%;
}

.circle2 {
    width: 200px;
    height: 200px;
    background-color: #2196F3;
    top: 20%;
    right: 0.01%;
}

.circle3 {
    width: 100px;
    height: 100px;
    background-color: #FFC107;
    bottom: 20%;
    left: 0.01%;
}

.circle4 {
    width: 120px;
    height: 120px;
    background-color: #FF5722;
    bottom: 15%;
    right: 1%;
}

h2 {
    color: #4CAF50;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #4CAF50;
    margin: 10px auto 0;
}

h3 {
    color: #2196F3;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

input {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border: solid;
    border-color: #2196F3;
    border-radius: 8px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#todolist button {
    background-color: #2196F3;
    color: white;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#todolist button:hover {
    background-color: #1976d2;
}

#todolist, #done {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#done li {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
    font-size: 14px;
    color: #555;
    width: 200px;
    text-align: center;
    display: block;
    text-decoration: line-through;
}

#clearCompleted {
    background-color: #f44336;
    color: white;
    margin-top: 20px;
    width: 200px;
}

#clearCompleted:hover {
    background-color: #d32f2f;
}
